const express = require('express');
const cors = require('cors');
var bodyParser = require('body-parser')

const app = express();

// settings
app.set('port', process.env.PORT || 4000);

// middlewares
app.use(cors());
app.use(bodyParser.json())

// routes
/*app.use('/api/usuarios', require('./routes/usuarios'));
app.use('/api/privilegios', require('./routes/privilegios'));
app.use('/api/tipo_usuario', require('./routes/tipo_usuario'));
app.use('/api/tipoprivilegios', require('./routes/tipoprivilegios'));*/

//module.exports = app;